<% include partials/header %>

<div class="ui main text container">
    <h3 class="ui center aligned header">
          <img class="ui small circular image" src="http://www.sunrisedayspa.com/wp-content/uploads/2016/02/sunrise-massage-400-400.png"><br><br>
          "Your Daily Insight"
    </h3>
    <br>
    <div class="ui top attached segment">
        <div class="ui divided items">
             <% posts.forEach(function(post){ %>
                <div class="item">
                    <div class="image">
                        <img src="<%= post["image"] %>">
                    </div>
                    <div class="content">
                        <a class="header" href="/posts/<%= post["_id"] %>"> <%= post["title"] %> </a>
                        <div class="meta">
                            <span> <%= post["date"].toDateString() %> </span>
                        </div>
                        <div class="description">
                            <p> <%= String(post["body"]).substr(0, 75) %>...</p>
                        </div>
                        <div class="extra">
                             <p class="ui secondary button"><a href="/posts/<%= post["_id"] %>">Read More...</a></p>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    </div>
</div>

<% include partials/footer %>